body{
font-family:Arial;
margin:0;
background:#111;
color:white;
}

header{
background:#c40000;
padding:15px;
text-align:center;
}

.logo{
height:60px;
}

.busca{
padding:10px;
}

.busca input{
width:100%;
padding:12px;
border-radius:10px;
border:none;
}

.menu-principal{
display:grid;
grid-template-columns:1fr 1fr;
gap:10px;
padding:10px;
}

.menu-principal button{
padding:15px;
font-size:18px;
background:#ff7b00;
border:none;
border-radius:10px;
color:white;
}

.produto{

background:#222;
margin:10px;
padding:10px;
border-radius:10px;

}

.produto img{
width:100%;
border-radius:10px;
}

.carrinho{

position:fixed;
bottom:20px;
right:20px;
background:#ff7b00;
padding:15px;
border-radius:50%;
font-size:25px;

}
