body{
font-family:Arial;
background:#111;
color:white;
margin:0;
}

header{
background:#d32f2f;
padding:15px;
text-align:center;
}

.logo{
width:120px;
}

.busca{
width:90%;
margin:10px;
padding:10px;
border-radius:8px;
}

.menu{
display:flex;
justify-content:space-around;
margin:10px;
}

button{
background:#ff9800;
border:none;
padding:10px;
border-radius:8px;
color:white;
cursor:pointer;
}

#produtos{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:15px;
padding:10px;
}

.card{
background:#1f1f1f;
border-radius:10px;
padding:10px;
}

.carrinho-btn{
position:fixed;
bottom:20px;
right:20px;
background:#ff9800;
padding:15px;
border-radius:50%;
font-size:22px;
}

.pizza-topo{
width:200px;
display:block;
margin:auto;
}
